<a href="https://colab.research.google.com/github/gandirakesh/PDS-2303A51721_B11/blob/main/LAB__4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **G.RAKESH**
## 2303A51721

In [4]:
# Student Marks Analysis using pandas

import pandas as pd

# Step 1: Read the CSV file
# Make sure student_scores.csv is uploaded to your Colab environment
df = pd.read_csv("/content/student_scores.csv")

print("Original Data:\n")
print(df)

# Step 2: Fill missing values with column-wise average
df_filled = df.fillna(df.mean(numeric_only=True))

print("\nData after filling missing values:\n")
print(df_filled)

# Step 3: Filter students who scored more than 75 in all subjects
high_achievers = df_filled[
    (df_filled["Math"] > 75) &
    (df_filled["Science"] > 75) &
    (df_filled["English"] > 75)
]

print("\nHigh Achievers (all subjects > 75):\n")
print(high_achievers)

# Step 4: Save results (optional)
high_achievers.to_csv("high_achievers.csv", index=False)
print("\nFiltered results saved to 'high_achievers.csv'")

Original Data:

   Student_ID   Name  Math  Science  English
0         101  Aarav  88.0     90.0     85.0
1         102   Diya  76.0      NaN     80.0
2         103  Kiran   NaN     70.0     88.0
3         104  Meera  92.0     85.0      NaN
4         105   Ravi  65.0     78.0     60.0
5         106   Sita   NaN     95.0     77.0

Data after filling missing values:

   Student_ID   Name   Math  Science  English
0         101  Aarav  88.00     90.0     85.0
1         102   Diya  76.00     83.6     80.0
2         103  Kiran  80.25     70.0     88.0
3         104  Meera  92.00     85.0     78.0
4         105   Ravi  65.00     78.0     60.0
5         106   Sita  80.25     95.0     77.0

High Achievers (all subjects > 75):

   Student_ID   Name   Math  Science  English
0         101  Aarav  88.00     90.0     85.0
1         102   Diya  76.00     83.6     80.0
3         104  Meera  92.00     85.0     78.0
5         106   Sita  80.25     95.0     77.0

Filtered results saved to 'high_achievers.csv'

In [6]:
# Hospital Patient Records Analysis

import pandas as pd

# Step 1: Load the dataset (patients.csv should be uploaded in Colab)
df = pd.read_csv("/content/patients.csv")

print("Original Data:\n")
print(df)

# Step 2: Replace missing Age values with the median
median_age = df["Age"].median()
df["Age"] = df["Age"].fillna(median_age)

print("\nData after filling missing Age values with median:\n")
print(df)

# Step 3: Filter elderly female patients diagnosed with Diabetes
elderly_females = df[
    (df["Gender"].str.lower() == "female") &
    (df["Age"] > 50) &
    (df["Diagnosis"].str.lower() == "diabetes")
]

print("\nElderly Female Patients with Diabetes:\n")
print(elderly_females)

# Step 4: Save results (optional)
elderly_females.to_csv("elderly_female_diabetes.csv", index=False)
print("\nFiltered results saved to 'elderly_female_diabetes.csv'")

Original Data:

   Patient_ID     Name   Age  Gender     Diagnosis Admission_Date
0         201  Lakshmi  65.0  Female      Diabetes     2023-01-15
1         202    Arjun  45.0    Male  Hypertension     2023-02-10
2         203    Meena   NaN  Female      Diabetes     2023-03-05
3         204   Suresh  72.0    Male        Asthma     2023-04-20
4         205    Radha  54.0  Female      Diabetes     2023-05-18
5         206   Vikram   NaN    Male        Cancer     2023-06-25
6         207    Anita  68.0  Female      Diabetes     2023-07-12

Data after filling missing Age values with median:

   Patient_ID     Name   Age  Gender     Diagnosis Admission_Date
0         201  Lakshmi  65.0  Female      Diabetes     2023-01-15
1         202    Arjun  45.0    Male  Hypertension     2023-02-10
2         203    Meena  65.0  Female      Diabetes     2023-03-05
3         204   Suresh  72.0    Male        Asthma     2023-04-20
4         205    Radha  54.0  Female      Diabetes     2023-05-18
5         206   Vikram  65.0    Male        Cancer     2023-06-25
6         207    Anita  68.0  Female      Diabetes     2023-07-12

Elderly Female Patients with Diabetes:

   Patient_ID     Name   Age  Gender Diagnosis Admission_Date
0         201  Lakshmi  65.0  Female  Diabetes     2023-01-15
2         203    Meena  65.0  Female  Diabetes     2023-03-05
4         205    Radha  54.0  Female  Diabetes     2023-05-18
6         207    Anita  68.0  Female  Diabetes     2023-07-12

Filtered results saved to 'elderly_female_diabetes.csv'