<a href="https://colab.research.google.com/github/gandirakesh/PDS-2303A51721_B11/blob/main/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **G.RAKESH**
# **2303A51721**

In [2]:
import pandas as pd

products = pd.DataFrame({
    'product_id': [101, 102, 103, 104, 105],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Headphones'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories'],
    'price': [60000, 800, 1500, 12000, 2500]
})

In [3]:
sales = pd.DataFrame({
    'sale_id': [1, 2, 3, 4, 5, 6, 7],
    'product_id': [101, 102, 103, 104, 101, 105, 102],
    'quantity': [2, 5, 3, 1, 1, 4, 2]
})

In [4]:
merged_inner = pd.merge(sales, products, on='product_id', how='inner')
merged_outer = pd.merge(sales, products, on='product_id', how='outer')

In [5]:
merged_inner['revenue'] = merged_inner['quantity'] * merged_inner['price']
total_revenue = merged_inner['revenue'].sum()
avg_price = merged_inner['price'].mean()
product_sales = merged_inner.groupby('product_name')['revenue'].sum().reset_index()
category_sales = merged_inner.groupby('category')['revenue'].sum().reset_index()
best_category = category_sales.loc[category_sales['revenue'].idxmax()]

In [6]:
print("Products Dataset:\n", products, "\n")
print("Sales Dataset:\n", sales, "\n")
print("Merged Dataset (Inner Join):\n", merged_inner, "\n")
print("Merged Dataset (Outer Join):\n", merged_outer, "\n")
print("Total Revenue:", total_revenue)
print("Average Product Price:", avg_price, "\n")
print("Product-wise Revenue:\n", product_sales, "\n")
print("Category-wise Revenue:\n", category_sales, "\n")
print("Best-Selling Category:\n", best_category, "\n")
print("Key Insights:")
print(f"- The total revenue generated is ₹{total_revenue}.")
print(f"- The average product price is ₹{avg_price:.2f}.")
print(f"- The best-selling category is '{best_category['category']}' with revenue ₹{best_category['revenue']}.")

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics  60000
1         102        Mouse  Accessories    800
2         103     Keyboard  Accessories   1500
3         104      Monitor  Electronics  12000
4         105   Headphones  Accessories   2500

Sales Dataset:
    sale_id  product_id  quantity
0        1         101         2
1        2         102         5
2        3         103         3
3        4         104         1
4        5         101         1
5        6         105         4
6        7         102         2

Merged Dataset (Inner Join):
    sale_id  product_id  quantity product_name     category  price  revenue
0        1         101         2       Laptop  Electronics  60000   120000
1        2         102         5        Mouse  Accessories    800     4000
2        3         103         3     Keyboard  Accessories   1500     4500
3        4         104         1      Monitor  Electronics  12000    12000
4        5         101         1       Laptop  Electronics  60000    60000
5        6         105         4   Headphones  Accessories   2500    10000
6        7         102         2        Mouse  Accessories    800     1600

Merged Dataset (Outer Join):
    sale_id  product_id  quantity product_name     category  price
0        1         101         2       Laptop  Electronics  60000
1        5         101         1       Laptop  Electronics  60000
2        2         102         5        Mouse  Accessories    800
3        7         102         2        Mouse  Accessories    800
4        3         103         3     Keyboard  Accessories   1500
5        4         104         1      Monitor  Electronics  12000
6        6         105         4   Headphones  Accessories   2500

Total Revenue: 212100
Average Product Price: 19657.14285714286

Product-wise Revenue:
   product_name  revenue
0   Headphones    10000
1     Keyboard     4500
2       Laptop   180000
3      Monitor    12000
4        Mouse     5600

Category-wise Revenue:
       category  revenue
0  Accessories    20100
1  Electronics   192000

Best-Selling Category:
 category    Electronics
revenue          192000
Name: 1, dtype: object

Key Insights:
- The total revenue generated is ₹212100.
- The average product price is ₹19657.14.
- The best-selling category is 'Electronics' with revenue ₹192000.

In [7]:
import pandas as pd

teachers = pd.DataFrame({
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'David'],
    'department': ['Computer Science', 'Mathematics', 'Physics', 'Computer Science']
})

In [8]:
courses = pd.DataFrame({
    'course_id': [101, 102, 103, 104, 105, 106],
    'course_name': ['AI', 'Data Structures', 'Algebra', 'Quantum Mechanics', 'ML', 'Calculus'],
    'teacher_id': [1, 1, 2, 3, 1, 2]
})

In [9]:
merged_inner = pd.merge(courses, teachers, on='teacher_id', how='inner')
merged_left = pd.merge(courses, teachers, on='teacher_id', how='left')

In [10]:
avg_courses_per_teacher = merged_inner.groupby('teacher_id')['course_id'].count().mean()
dept_workload = merged_inner.groupby('department')['course_id'].count().reset_index()
best_department = dept_workload.loc[dept_workload['course_id'].idxmax()]

In [11]:
print("Teachers Dataset:\n", teachers, "\n")
print("Courses Dataset:\n", courses, "\n")
print("Merged Dataset (Inner Join):\n", merged_inner, "\n")
print("Merged Dataset (Left Join):\n", merged_left, "\n")
print("Average Courses per Teacher:", avg_courses_per_teacher, "\n")
print("Department-wise Workload:\n", dept_workload, "\n")
print("Department with Highest Workload:\n", best_department, "\n")
print("Key Insights:")
print(f"- On average, each teacher handles {avg_courses_per_teacher:.2f} courses.")
print(f"- The busiest department is '{best_department['department']}' with {best_department['course_id']} courses assigned.")

Teachers Dataset:
    teacher_id teacher_name        department
0           1        Alice  Computer Science
1           2          Bob       Mathematics
2           3      Charlie           Physics
3           4        David  Computer Science

Courses Dataset:
    course_id        course_name  teacher_id
0        101                 AI           1
1        102    Data Structures           1
2        103            Algebra           2
3        104  Quantum Mechanics           3
4        105                 ML           1
5        106           Calculus           2

Merged Dataset (Inner Join):
    course_id        course_name  teacher_id teacher_name        department
0        101                 AI           1        Alice  Computer Science
1        102    Data Structures           1        Alice  Computer Science
2        103            Algebra           2          Bob       Mathematics
3        104  Quantum Mechanics           3      Charlie           Physics
4        105                 ML           1        Alice  Computer Science
5        106           Calculus           2          Bob       Mathematics

Merged Dataset (Left Join):
    course_id        course_name  teacher_id teacher_name        department
0        101                 AI           1        Alice  Computer Science
1        102    Data Structures           1        Alice  Computer Science
2        103            Algebra           2          Bob       Mathematics
3        104  Quantum Mechanics           3      Charlie           Physics
4        105                 ML           1        Alice  Computer Science
5        106           Calculus           2          Bob       Mathematics

Average Courses per Teacher: 2.0

Department-wise Workload:
          department  course_id
0  Computer Science          3
1       Mathematics          2
2           Physics          1

Department with Highest Workload:
 department    Computer Science
course_id                    3
Name: 0, dtype: object

Key Insights:
- On average, each teacher handles 2.00 courses.
- The busiest department is 'Computer Science' with 3 courses assigned.